*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}
/* this used to avoid overflow */
html, body{
  overflow-x: hidden;
}

img{
  max-width:100%;
  display:block;
}

section{
  overflow:hidden;
}


body{
  padding-bottom: 1000px;
}





header{
  display:flex;
  justify-content:space-between;
  align-items:center;
  font-family: 'Montserrat', sans-serif;
  position: absolute;
  top: 10px;
  left: 0;
  right: 0;
  background-color: transparent;
   z-index:2000;
 
}

header h1{
  font-size:24px;
  margin-left:40px;
  flex:1;
 
}
header nav {
  display:flex;
  list-style:armenian;
  padding-right: 100px;
}

header  a {
  display:block;
  padding:20px 20px;
  text-decoration:none;
  color:#ffffff;
   
}


.burger {
  display: none;
  font-size: 20px;
  cursor: pointer;
  color: white;
  margin-right: 20px;
 
}
/* side menu hidden by default */
.side-menu{
  position:fixed;
  top:0;
  right:-250px; /* hide outside screen */
  width:200px;
  height:100vh;
  background:rgba(142, 142, 142, 0.703);
  padding-top:80px;
  display:flex;
  flex-direction:column;
  gap:20px;
  transition:0.3s;
  z-index: 1500;
}
.side-menu a{
  color:white;
  text-decoration:none;
  padding:15px 25px;
}
.side-menu a:hover{
  background-color:rgba(255, 255, 255, 0.3);
}

@media (max-width: 832px){

  header nav{
    display:none;
  }

  .burger{
    display:block;
  }

}




.hero{
  /* display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap:6rem;
  background-color: rgb(0, 0, 0);
  width:100%;
  padding: 100px 50px; better than margin chaos */
   display:flex;
  align-items:center;      /* vertical center */
  justify-content:center;  /* horizontal center */
  
 align-items: flex-start;
  background-color:black;
  width:100%;
  min-height:100vh;        /* fill screen height */
  padding:100px 50px;
  position:relative;
 
}
 .hero-content{
 
 width:60%;
  margin:0; /* remove that 150px push */
 
  
}
.hero-content h2 {
   max-width:450px;
  margin-bottom:25px;
  color:white;
  font-size:2.5rem;
 
}
.hero-content p {
  max-width:450px;
  font-size:1.2rem;
  margin-bottom:25px;
  color:white;
}

.Location-button{
  display:inline-flex;
  align-items:center;
  gap:6px;

  background-color: rgba(208,206,203,0.7);
  border:none;
  border-radius:999px;

  padding:2px 30px;      /* controls height */
  font-size:12px;        /* controls height */
  line-height:1;         /* removes extra text space */

  color:white;
}




.hero img {
  flex:1;  
  width:100%;
  height:500px;
  border-radius:10px;
  object-fit: cover;
  display: block;
  
}

.overlay {
  position: absolute;
  right:5px;
  bottom:5px;
background-color: rgb(190, 243, 243);
height:130px;
border-radius: 20px;
width:300px;
}
.icons {
  display: flex;
 padding-top: 10px;
}
.icons img {
  width: 20px;
  height: 20px;
}
/* @media (max-width: 768px) {
  .hero {
    flex-direction: column;
    text-align: center;
  }

  .hero-content {
    margin-bottom: 20px;
  }

  .Location-button {
    margin-top: -300px;
    margin-left:0px;
  }
  
}

@media (max-width: 480px) {
  .hero-content h2 {
    font-size: 1.8rem;
    width: 100%;
  }

  .hero-content p {
    font-size: 1rem;
    width: 100%;
  }

  .Location-button {
    margin-top: -250px;
    margin-left:0px;
    width:120px;
    height:15px;
    padding-right:20px;
  }
} */

@media(min-width: 1175px) {
  .hero {
    gap: 8rem;
    background-color: rgb(0, 0, 0);

  }
  header nav {
  display:flex;
  list-style:armenian;
  padding-right:70px;
}
.side-menu{
  display: none;
}
}

@media(min-width: 1030px) and (max-width: 1174px) {
  .hero {
    gap: 3rem;
    background-color: rosybrown;

  }
  header nav {
  display:flex;
  list-style:armenian;
  padding-right:40px;
}
.side-menu{
  display: none;
}
}

@media(min-width: 833px) and (max-width: 1029px) {
  .hero {
    gap: 3rem;
    background-color: rgb(239, 19, 19);

  }
  header nav {
  display:flex;
  list-style:armenian;
}
.hero img {
  flex:1;
  height:500px;
  border-radius:10px;
  object-fit: cover;
  
}
.side-menu{
  display: none;
}
}

@media(min-width: 0px) and (max-width: 832px) {
  .hero {
  background-image: url(../Images/Kitchen.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
    width: 100%;;
    /*fix the huge text */
     flex-direction: column;
    text-align: center;
    padding:120px 20px 60px;
    align-items: center;
    
  }
  .hero-content h2{
    font-size:1.8rem;
     justify-content: center;
  }
  
.hero img {
  display: none;
}

header a {
  padding: 20px 10px;
}

}

@media (max-width: 630px) {
 
}